<layout-default title="Событие" [isLoading]="isLoading">

  <div class="mb-1-5em">
    <button *ngIf="isCanJoinToEvent()" mat-button (click)="enterToEvent()">Принять участие</button>
    <button *ngIf="isCanAddTeam()" mat-raised-button color="primary" (click)="createNewTeam()">Добавить команду</button>
    <button *ngIf="isCanPublishEvent()" mat-raised-button mat-button (click)="setPublished()">Опубликовать</button>
    <button *ngIf="isCanStartEvent()" mat-button (click)="startEvent()">Начать событие</button>
  </div>
  <h1>{{event?.name}}</h1>

  Начало: {{ event?.start }},
  Статус: {{ Status.getTranslatedStatusValue(Status.getTranslatedStatus(event?.status)) }},
  Организатор: {{ event?.user?.userName }}

  <br/><br/>

  Участники: от {{ event?.minTeamMembers }} до {{ event?.maxEventMembers }}
  <br/><br/>

  Продолжительность этапов:<br/>
  <ol>
    <li>формирование команд {{ event?.memberRegistrationMinutes }}</li>
    <li>разработка {{ event?.developmentMinutes }}</li>
    <li>выступление команды {{ event?.teamPresentationMinutes }}</li>
  </ol>

  <mat-checkbox [checked]="event?.isCreateTeamsAutomatically ?? false" disabled>
    Создавать команды автоматически
  </mat-checkbox>
  <br/><br/>

  Команды:
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let team of getEventTeams()">
      {{ team.name }}(id:{{team.id}})
    </mat-list-item>
  </mat-list>

  <b *ngIf="isAlreadyInEvent()">Вы принимаете участие в этом мероприятии</b>

</layout-default>




