<layout-default title="Событие" [isLoading]="isLoading">

  <div actions>
    <button *ngIf="eventsService.isCanAddTeam(event)" mat-button color="primary" (click)="createNewTeam()">
      <mat-icon>add</mat-icon>
      Добавить команду</button>
    <button *ngIf="eventsService.isCanStartEvent(event)" mat-button (click)="startEvent()">Начать событие</button>
    <button *ngIf="eventsService.isCanJoinToEvent(event)" mat-button (click)="enterToEvent()">Принять участие</button>
    <button *ngIf="eventsService.isCanLeave(event)" mat-button (click)="leaveFromEvent()">Покинуть событие</button>
    <button *ngIf="eventsService.isCanFinishEvent(event)" mat-button (click)="finishEvent()">Завершить событие</button>
  </div>

  <mat-tab-group animationDuration="0ms"
                 dynamicHeight
                 class="vertical-tabs">

    <mat-tab label="Общая информация">
      <list-details [items]="eventDetails"></list-details>

      <alert *ngIf="eventsService.isEventOwner(event)">Вы являетесь организатором события</alert>

    </mat-tab>
    <mat-tab label="Команды">
      <table mat-table [dataSource]="eventTeamsDataSource" [class.empty]="eventTeamsDataSource?.data?.length == 0">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Название </th>
          <td mat-cell *matCellDef="let element"
              (click)="router.Teams.View(element.id)"
              [innerText]="element.name"></td>
        </ng-container>

        <ng-container matColumnDef="members">
          <th mat-header-cell *matHeaderCellDef> Участники </th>
          <td mat-cell *matCellDef="let element">
            <div *ngFor="let member of element.members" class="member"
                 (click)="this.router.Users.View(element.id)"
                 [innerText]="member.fullName"></div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getDisplayTeamsColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayTeamsColumns();"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Уведомления">

      <table mat-table [dataSource]="eventStatusesDataSource" [class.empty]="eventStatusesDataSource.data.length == 0">
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Статус</th>
          <td mat-cell *matCellDef="let element" [innerText]="EventStatusTranslator.Translate(element.status)"></td>
        </ng-container>

        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef> Сообщение </th>
          <td mat-cell *matCellDef="let element" [innerText]="element.message"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getDisplayStatusesColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayStatusesColumns();"></tr>
      </table>

    </mat-tab>
  </mat-tab-group>

</layout-default>




