<layout-default title="Событие {{event?.name}}">

  Дата и время начала
  {{ event?.start }}<br/><br/>

  Продолжительность формированя команд в минутах
  {{ event?.memberRegistrationMinutes }}<br/><br/>

  Продолжительность этапа разработки в минутах
  {{ event?.developmentMinutes }}<br/><br/>

  Продолжительность выступления каждой команды в минутах
  {{ event?.teamPresentationMinutes }}<br/><br/>

  Минимальное количество участников
  {{ event?.minTeamMembers }}<br/><br/>

  Максимальное количество участников
  {{ event?.maxEventMembers }}<br/><br/>

  Создавать команды автоматически
  {{ event?.isCreateTeamsAutomatically }}<br/><br/>

  Статус
  {{ event?.status }}<br/><br/>

  Организатор
  {{ event?.user?.userName }}<br/><br/>

</layout-default>




