<layout-default title="Уведомления">

  <div class="mb-1-5em"></div>

  <ng-template [ngIf]="items != undefined && items.length > 0" [ngIfElse]="notificationsEmpty">

    <table mat-table [dataSource]="items">

      <ng-container matColumnDef="notify">
        <th mat-header-cell *matHeaderCellDef>Уведомление</th>
        <td mat-cell *matCellDef="let notify" (click)="rowClick(notify)">

          <div [ngSwitch]="notify.type">
            <notification-info-view *ngSwitchCase="0"
                                    [notify]="notify"
                                    [hideDate]="true">
            </notification-info-view>
          </div>

        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Тип</th>
        <td mat-cell *matCellDef="let notify" (click)="rowClick(notify)"> {{ Notification.getTypeName(notify.type) }} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Отправлено</th>
        <td mat-cell *matCellDef="let notify" (click)="rowClick(notify)">
          {{ notify.createdAt?.toLocaleString() | date:'EEEE dd.MM.y' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let notify">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="remove([notify.id!])">
              <mat-icon color="accent">delete_outline</mat-icon>
              <span>Удалить</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getDisplayColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayColumns();"></tr>

    </table>

    <mat-paginator [length]="pageSettings.length"
                   [pageSize]="pageSettings.pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="setPageSettings($event)"
                   aria-label="Select page">
    </mat-paginator>

  </ng-template>

  <ng-template #notificationsEmpty>
    <mat-list role="list">
      <mat-list-item role="listitem">
        Нет уведомлений
      </mat-list-item>
    </mat-list>
  </ng-template>


</layout-default>
