:host{
  display: block;
  width: 100%;

  header {
    display: flex;
    justify-items: flex-start;

    button.mat-menu-item {
      width: auto;

      .mat-icon {
        margin-right: 0;
      }
    }
  }
}
