<layout-default
  [isLoading]="isLoading$ | async"
  [hideTitleBar]="false"
  class="hackathon-background"
  [containerCssClasses]="'theme-color'"
  >
  @if (eventService.isEventOwner(event)) {
    <div class="event-alert" alert>
      <alert>Вы являетесь организатором события</alert>
    </div>
  }
  <div actions>
    <event-button-actions [event]="event"> </event-button-actions>
  </div>

  <div class="event event-published">
    <app-event-header [event]="event"> </app-event-header>

    <div class="event-content">
      <section class="event-content__section">
        <div class="event-content__section-title">Призовой фонд</div>
        <div class="event-content__section-content">
          <div class="event-content__award">
            <div class="event-content__award-image">
              <img src="assets/img/award.svg" alt="award" />
            </div>
            <div class="event-content__award-title">{{ event?.award ?? 0 }}₽</div>
          </div>
        </div>
      </section>

      <section class="event-content__section">
        <div class="event-content__section-title">Организатор</div>
        <div class="event-content__section-content">
          <div class="event-content__owner">
            <div class="event-content__owner-image">
              <image-from-storage [imageId]="event.owner?.profileImageId"></image-from-storage>
            </div>
            <div class="event-content__owner-name">
              {{ event.owner?.fullName ?? event.owner?.userName }}
            </div>
          </div>
        </div>
      </section>

      <section class="event-content__section">
        <div class="event-content__section-title">Общая информация</div>
        <div class="event-content__section-content">
          <div class="event-content__info">
            <div class="event-content__info-content">
              <div class="event-content__info-title">Участники</div>
              <div class="event-content__info-desc">
                {{ getUsersCount() }}/{{ event?.maxEventMembers }}
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="event-content__section">
        <div class="event-content__section-title">Этапы</div>
        <div class="event-content__section-content">
          @if (event.stages?.length) {
            <div class="event-content__stages">
              @for (stage of event.stages; track stage) {
                <div class="event-content__stage">
                  <div class="event-content__stage-content">
                    <div class="event-content__stage-name">
                      {{ stage.name }}
                    </div>
                    <div class="event-content__stage-duration">{{ stage.duration }}мин</div>
                  </div>
                </div>
              }
            </div>
          } @else {
            <div>Нет элементов для отображения</div>
          }
        </div>
      </section>

      <section class="event-content__section">
        <div class="event-content__section-title">Задачи</div>
        <div class="event-content__section-content">
          @if (event.tasks?.length) {
            <div class="event-content__tasks">
              @for (task of event.tasks; track task) {
                <div class="event-content__task">
                  <div class="event-content__task-content">
                    <div class="event-content__task-name">
                      {{ task.title }}
                    </div>
                  </div>
                </div>
              }
            </div>
          } @else {
            <div>Нет элементов для отображения</div>
          }
        </div>
      </section>

      <section class="event-content__section">
        <div class="event-content__section-title">Правила</div>
        <div class="event-content__section-content">
          @if (event.agreement?.rules) {
            <div class="event-content__rules">
              {{ event.agreement?.rules }}
            </div>
          } @else {
            <div>Нет элементов для отображения</div>
          }
        </div>
      </section>

      @if (userId === event.owner?.id) {
        <section class="event-content__section">
          <div class="event-content__section-title">Уведомления</div>
          <div class="event-content__section-content">
            @if (event.changeEventStatusMessages?.length) {
              <div
                class="event-content__statuses"
                >
                <div class="event-content__status-content status-header">
                  <div class="event-content__status-name">Статус</div>
                  <div class="event-content__status-message">Сообщение</div>
                </div>
                @for (eventStatus of event.changeEventStatusMessages; track eventStatus) {
                  <div
                    class="event-content__status"
                    >
                    <div class="event-content__status-content">
                      <div class="event-content__status-name">
                        {{ eventStatusTranslator.Translate(eventStatus.status) }}
                      </div>
                      <div class="event-content__status-message">
                        {{ eventStatus.message }}
                      </div>
                    </div>
                  </div>
                }
              </div>
            } @else {
              <div>Нет элементов для отображения</div>
            }
          </div>
        </section>
      }
    </div>
  </div>
</layout-default>

