@if (!eventService.isCreateEditEvent(event)) {
  <div>
    @if (eventService.isCanAddTeam(event)) {
      <button
        mat-button
        color="primary"
        (click)="createNewTeam()"
        >
        <mat-icon>add</mat-icon>
        Добавить команду
      </button>
    }
    @if (eventService.isCanStartEvent(event)) {
      <button mat-button (click)="startEvent()">
        Начать событие
      </button>
    }
    @if (eventService.isCanJoinToEvent(event)) {
      <button mat-button (click)="enterToEvent()">
        Принять участие
      </button>
    }
    @if (eventService.isCanLeave(event)) {
      <button mat-button (click)="leaveFromEvent()">
        Покинуть событие
      </button>
    }
    @if (eventService.isCanFinishEvent(event)) {
      <button mat-button (click)="finishEvent()">
        Завершить событие
      </button>
    }
  </div>
}

@if (eventService.isCreateEditEvent(event)) {
  <div>
    <button color="primary" mat-button (click)="submit()" [disabled]="!formValidity">
      Сохранить
    </button>
    @if (eventService.isCanDeleteEvent(event)) {
      <button mat-button (click)="deleteEvent()">
        Удалить
      </button>
    }
    @if (eventService.isCanPublish(event)) {
      <button mat-button (click)="setPublish()">
        Опубликовать
      </button>
    }
    @if (eventService.isCanOnModeration(event)) {
      <button mat-button (click)="setOnModeration()">
        На модерацию
      </button>
    }
  </div>
}
