<layout-default title="Новая команда">

  <form [formGroup]="form" class="form-vertical" >
    <div class="vertical__fields">
      <mat-form-field appearance="fill">
        <mat-label>Название команды</mat-label>
        <input matInput autocomplete="off"
               id="name" formControlName="name"
               required>
      </mat-form-field>
      
    </div>
    <div class="vertical__fields">
      <mat-form-field appearance="fill">
        <mat-label>Тип команды</mat-label>
        <mat-select [(value)]="selectedTeamType">
          <mat-option *ngFor="let type of teamTypes" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-vertical__bottom">
      <div class="eventsNewForm__buttons">
        <button mat-raised-button color="primary" (click)="submit()">Сохранить</button>
        <button mat-button (click)="goBack()">Назад</button>
      </div>
    </div>

  </form>

</layout-default>
