* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 1.4;
  padding: 0 0;

  &-404 {
    position: relative;
    height: 150px;
    line-height: 150px;
    margin-bottom: 10px;
  }

  h2 {
    font-family: Titillium Web Bold, Roboto, sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
  }

  h3 {
    font-family: Titillium Web Regular, Roboto Regular, sans-serif;
    font-size: 26px;
    font-weight: 500;
    margin: 0;
  }

  a:hover {
    opacity: 0.8;
  }
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 110px;
    line-height: 110px;
  }
  .notfound .notfound-404 h1 {
    font-size: 120px;
  }
}

:host ::ng-deep .container {
  height: inherit;
}
