root = true

[*.cs]
indent_size = 4
insert_final_newline = true
charset = utf-8

#Устанавливает уровень Error глобально для всех правил именования
dotnet_diagnostic.IDE1006.severity = error

#define prefix_underscore
dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _
#define private_fields
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_fields.required_modifiers = readonly
#private fields with underscore
dotnet_naming_rule.private_members_with_underscore.symbols = private_fields
dotnet_naming_rule.private_members_with_underscore.style = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = error

csharp_prefer_braces = true:error