@if(isFilterEnabled){
  <div>
    <form [formGroup]="form" class="applications__filter">
      <mat-form-field appearance="outline">
        <mat-label>Статус модерации</mat-label>
        <mat-select formControlName="status">
          <mat-divider></mat-divider>
          <mat-select-trigger>
            <app-approval-application-status
              [status]="getFormControl('status').value ?? 0"
            ></app-approval-application-status>
          </mat-select-trigger>
          @for( status of approvalApplicationStatuses; track $index) {
            <mat-option [value]="status">
              <app-approval-application-status [status]="status"></app-approval-application-status>
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  @if (!applyOnChange) {
    <div class="applications__filter-buttons">
      <button
        mat-flat-button
        color="primary"
        (click)="applyFilter()"
        [disabled]="!this.form.dirty"
      >
        Применить
      </button>
      <button mat-flat-button (click)="clearFilter()" [disabled]="!this.form.dirty">
        Очистить
      </button>
    </div>
  }
}
