<mat-list>
  @for (user of users; track user) {
    <mat-list-item>
      <div class="friends-list__item-actions">
        @if (status === FriendshipStatus.Confirmed) {
          <button
            mat-icon-button
            color="accent"
            (click)="removeFromFriends(Number(user.id))"
            >
            <mat-icon>delete_forever</mat-icon>
          </button>
        }
        @if (status === FriendshipStatus.Pending) {
          <button
            mat-icon-button
            color="primary"
            (click)="acceptOffer(Number(user.id))"
            >
            <mat-icon>done</mat-icon>
          </button>
        }
        @if (status === FriendshipStatus.Pending) {
          <button
            mat-icon-button
            color="accent"
            (click)="rejectOffer(Number(user.id))"
            >
            <mat-icon>delete_forever</mat-icon>
          </button>
        }
      </div>
      <span class="friends-list__item-user" (click)="openUserProfile(Number(user.id))">
        @if (user.id) {
          <profile-image
            [userId]="user.id"
            [canUpload]="false"
            class="size35"
          ></profile-image>
        }
        {{ user.fullName ?? user.userName }}
      </span>
    </mat-list-item>
  }
</mat-list>
@if (users !== undefined && users.length === 0) {
  <div class="no-data-text">
    {{ getNoDataText() }}
  </div>
}
