@import 'assets/styles/fonts';
@import 'assets/styles/material-fonts';
@import 'assets/styles/theme';
@import 'assets/styles/variables';
@import 'assets/styles/mixins';
@import 'assets/styles/common';
@import 'assets/styles/mat-custom';
@import 'assets/styles/spaces';
@import 'assets/styles/scrollbar';

html {
  max-height: 100%;
  height: 100%;
}

body {
  @include absolute0;
  margin: 0;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-weight: 400;

  .theme-dark-mode & {
    background: $black-color-70;
  }
  .theme-light-mode & {
    background: $white-color;
  }
}
