/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
}

b {
  font-weight: 500;
}

table {
  width: 100%;

  tr {
    cursor: pointer;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;

  &-full {
    max-width: 100%;
    padding: 0 1em 0 2em;
  }
}

.mb-1-5em {
  margin-bottom: 1.5em;
}

.form {
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-vertical {
    &__fields {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      width: 300px;
    }

    &__bottom {
      padding-top: 1em;
    }

    &__buttons {
      display: flex;
      column-gap: 10px;
    }
  }
}

.table-list-actions-column {
  width: 40px;
}

.not-elements-found-message {
  margin-bottom: 10px;
  font-size: .9em;
  opacity: .5;
}

.mat-table {
  &.empty {
    position: relative;
    padding-bottom: 5em;

    & .mat-header-row{
      //display: none;
    }

    &::after {
      color: dimgray;
      padding: 2em 0;
      content: 'Нет элементов для отображения';
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
}

.mat-list-base .mat-list-item{
  font-size: 14px;
}

mat-tab-group.vertical-tabs {

  display: flex;
  flex-direction: row;
  column-gap: 2em;
  height: 100%;

  mat-tab-header{
    border: 0;
  }

  mat-ink-bar {
    display: none;
  }

  .mat-tab-labels {
    flex-direction: column;

    .mat-tab-label{
      justify-content: left;
    }
  }

  .mat-tab-label-active{
    opacity: 1;
  }

  .mat-tab-body-wrapper {
    flex: 1 1 auto;
    box-shadow: -20px 0px 20px 0px rgb(248 248 248);
    padding-left: 1em;
  }
}
