/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
b {
  font-weight: 500;
}

table {
  width: 100%;

  tr {
    cursor: pointer;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;

  &-full {
    max-width: 100%;
    padding: 0 1em;
  }
}

.mb-1-5em {
  margin-bottom: 1.5em;
}

.form {
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-vertical {
    &__fields {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      width: 300px;
    }

    &__bottom {
      padding-top: 1em;
    }

    &__buttons {
      display: flex;
      column-gap: 10px;
    }
  }
}
