.event-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 220px;
  max-height: 250px;
  margin: auto auto 30px auto;
  background-color: #00000038;
  overflow: hidden;
}
