<h2 mat-dialog-title>Изменить пароль</h2>
<div mat-dialog-content>
  <form [formGroup]="form" class="form-vertical">
    <div class="form-vertical__fields">
      <mat-form-field appearance="outline">
        <mat-label>Текущий пароль</mat-label>
        <input matInput
               autocomplete="off"
               id="currentPassword"
               formControlName="currentPassword"
               type="password"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Новый пароль</mat-label>
        <input matInput
               autocomplete="off"
               id="newPassword"
               formControlName="newPassword"
               type="password"/>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button color="primary" (click)="confirm()" [disabled]="this.form.invalid">OK</button>
  <button mat-button [mat-dialog-close]="undefined">Отмена</button>
</div>
