@import '../../../../../assets/styles/mixins';
@import '../../../../../assets/styles/variables';

:host {
  & .mat-tab-header {
    background-color: red;
  }
}

.event-started {
  &-wrapper {
    @include absolute0;
    @include flex-row;
  }

  &-sidebar {
    @include flex-column;
    padding: 1em;
    box-sizing: border-box;
    width: 200px;

    mat-icon {
      color: #2a6bcb;
      font-size: 1.2em;
      line-height: 1.2em;
    }

    button {
      text-align: left;
    }
  }
  &__content {
    flex-grow: 1;

    &-top {
      padding: 1em;
    }
  }

  &__chat {
    @include flex-column;
    height: 100%;

    &-wrapper {
      position: relative;
      height: 100%;
    }

    &-selector {
      width: 120px;
    }
  }
}

.newProjectButton {
  width: 200px;
  height: 150px;
  border: 1px dashed #ddd;
  font-weight: 300;
}
