@if (notify) {
  <div>
    <div class="notify__info-message">
      <div mat-line>
        @switch (data.IsApproved) {
          @case (false) {
            <div>
              Запрос на вступление в команду
              <span class="teamName" (click)="this.router.Teams.View(data.TeamId)">{{
                data.TeamName
              }}</span>
              отклонен.
              @if (data && !data.IsApproved) {
                <span> <br />Комментарий: {{ data.Comment }} </span>
              }
            </div>
          }
          @case (true) {
            <div>
              Вы были приняты в команду
              <span class="teamName" (click)="this.router.Teams.View(data.TeamId)">{{
                data.TeamName
              }}</span>
            </div>
          }
        }
      </div>
    </div>
    @if (!hideDate) {
      <div mat-line>
        <div class="notify-createdAt">
          {{ notify.createdAt?.toLocaleString() | date : NOTIFICATION_DATETIME_FORMAT }}
        </div>
      </div>
    }
  </div>
} @else {
  Невозможно отобразить содержимое
}

