@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  src: url('~src/assets/fonts/Roboto-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: url('~src/assets/fonts/Roboto-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  src: url('~src/assets/fonts/Roboto-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: url('~src/assets/fonts/Roboto-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Titillium Web Regular';
  font-style: normal;
  font-weight: 400;
  src: url('~src/assets/fonts/TitilliumWeb-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Titillium Web Bold';
  font-style: normal;
  font-weight: 700;
  src: url('~src/assets/fonts/TitilliumWeb-Bold.ttf') format('ttf');
}
