@use '@angular/material' as mat;
@import 'variables';

@include mat.core();

$theme-mat-primary: mat.define-palette(mat.$indigo-palette);
$theme-mat-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theme-mat-warn: mat.define-palette(mat.$red-palette);

$theme-light: mat.define-light-theme((
  color: (
    primary: $theme-mat-primary,
    accent: $theme-mat-accent,
    warn: $theme-mat-warn,
  )
));

$theme-dark: mat.define-dark-theme((
  color: (
    primary: $theme-mat-primary,
    accent: $theme-mat-accent,
    warn: $theme-mat-warn,
  ),
  container: (
    color: $black-color,
    background: $black-color
  )
));

.theme-dark-mode {
  @include mat.all-component-themes($theme-dark);

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow: 0 0 0 40rem grey inset;
  }
}

.theme-light-mode {
  @include mat.all-component-themes($theme-light);
}


.theme-background {
  .theme-dark-mode & {
    background: $grey-color-10;
    color: $white-color;
  }
  .theme-light-mode & {
    background: $white-color;
    color: $black-color;
  }
}

.theme-event-card-background {
  .theme-dark-mode & {
    background: $black-color-light;
    color: $white-color;
    box-shadow: 0 0 5px #a1a1a1;
  }
  .theme-light-mode & {
    background: $white-color-light;
    color: $black-color;
    box-shadow: 0 0 5px #939191;
  }
}

.theme-color {
  .theme-dark-mode & {
    color: $white-color;
  }
  .theme-light-mode & {
    color: $black-color;
  }
}

.team-chat-theme {
  .theme-dark-mode & {
    .mat-tab-body-wrapper {
      background: $black-color-80;
      box-shadow: -8px 0 18px 0 #00000021;
      color: $white-color;
      .chat__message-meta {
        color: $grey-color-30;
      }
      .event-started__content-top {
        border-bottom: 1px solid $grey-color-10;
      }
    }
    .chat__members {
      box-shadow: inset 8px 0 18px 0 #00000021;
    }
  }
  .theme-light-mode & {
    .mat-tab-body-wrapper {
      box-shadow: -20px 0 20px 0 rgb(248 248 248);
      .chat__message-meta {
        color: $black-color-70;
      }
      .event-started__content-top {
        border-bottom: 1px solid #ededed;
      }
    }
    .chat__members {
      box-shadow: inset 20px 0 20px 0 rgb(248 248 248);
    }
  }
}

.event-theme {
  .theme-dark-mode & {
    .mat-tab-body-content {
      .event-image {
        &__image {
          border: 1px solid rgba(255, 255, 255, 0.3);
        }

        &__image:hover {
          border: 2px solid rgb(255, 255, 255);
        }
      }
      .border-red {
        transition: all 0.1s ease-out;
        border: 2px solid $error-color;
      }
    }
  }
  .theme-light-mode & {
    .mat-tab-body-content {
      .event-image {
        &__image {
          border: 1px solid rgba(0, 0, 0, 0.12);
        }

        &__image:hover {
          border: 2px solid rgb(23, 20, 20);
        }
      }
      .border-red {
        transition: all 0.1s ease-out;
        border: 2px solid $error-color;
      }
    }
  }
}

.loader-theme {
  .theme-dark-mode & {
    background: rgba(122, 120, 120, 0.75);
  }
  .theme-light-mode & {
    background: rgba(255, 255, 255, 0.75);
  }
}

.chat-footer-theme {
  .theme-dark-mode & {
    box-shadow: 0px -5px 6px 0px #2424244a;
  }
  .theme-light-mode & {
    box-shadow: 0px -2px 13px #9999994a;
  }
}
