$primary-color: #665CD4;
$secondary-color: #3f51b5;

$white-color: #ffffff;
$white-color-80: #ededed;
$white-color-90: #FBFBFB;

$black-color: #212121;
$black-color-70: #333;
$black-color-80: #2d2d2d;

$grey-color-10: #424242;
$grey-color-30: #ffffff63;

$event-finished-content-max-width: 1200px;
$chat-color-content: $secondary-color;
