.eventsNewForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;

  &__vertical-fields {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
  }
}
