$cards-gap: .5em;
$card-width: 33%;

.mat-column-status {
  mat-icon {
    font-size: 10px;
    height: 10px;
    width: 10px;
    margin-right: 5px;

    color: lightgray;

    &.mat-icon {

      &-published {
        color: #eb832b;
      }

      &-started {
        color: seagreen;
      }
    }
  }
}

.mat-cell {
  &.mat-column-actions {
    width: 40px;
  }
}

.events__filter {
  display: flex;
  column-gap: 1em;
  flex-wrap: wrap;
}

.event-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: $cards-gap;
  padding-bottom: 3em;

  .card {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;

    flex-basis: $card-width;
    max-width: $card-width;

    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 10px #e3e3e3;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
      box-shadow: 0 0 20px 0 rgb(195 195 195);
      transform: translateY(-2px);
    }

    &__image {
      height: 200px;
    }

    .card-info {
      padding: 20px;

      & .title {
        font-size: 1.5em;
        padding-bottom: 5px;
      }

      & .meta {
        padding-bottom: 1em;

        display: flex;
        column-gap: 10px;
      }
    }
  }
}

