<layout-default
  [title]="'Событие: ' + event.name"
  [isLoading]="isLoading"
  [hideTitlebar]="true" class="hackathon-background"
  containerClasses="container container-full">

  <div class="event event-finished">
    <div class="event-header">

      <div class="event-header__cover">
        <image-from-storage [imageId]="event.imageId"></image-from-storage>
        <div class="event-header__cover-shadow"></div>
      </div>

      <div class="event-header__content">

        <div class="container">
          <div class="event-header__title">{{ event.name }}</div>
          <div class="event-header__description">{{ event.description }}</div>
          <div class="event-header__meta">
            событие от {{ startDate }} завершено
          </div>

        </div>
      </div>
    </div>


    <div class="event-content">

      <section class="event-content__section">
        <div class="event-content__section-title">Участники и команды</div>
        <div class="event-content__section-content">

          <div class="event-content__members">
            <div class="event-content__member" *ngFor="let member of getEventMembers()">
              <div class="event-content__member-image">
                <image-from-storage [imageId]="member.profileImageId"></image-from-storage>
              </div>
              <div class="event-content__member-content">
                <div class="event-content__member-content-name">
                  {{ member.fullName ?? member.userName }}
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

      <section class="event-content__section">
        <div class="event-content__section-title">Проекты и решения</div>
        <div class="event-content__section-content">

          <div class="event-content__projects">
            <div class="event-content__project" *ngFor="let project of getEventProjects()">
              <div class="event-content__project-image">
                <image-from-storage [imageId]="project.imageId"></image-from-storage>
              </div>
              <div class="event-content__project-content">
                <div class="event-content__project-name">
                  {{ project.name }}
                </div>
                <div class="event-content__project-description">
                  {{ project.description }}
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>
  </div>
</layout-default>
