$event-finished-content-max-width: 1200px;
$primary-color: #665CD4;

@mixin absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.event {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  font-size: 16px;

  &-header {

    display: flex;
    flex-direction: column;

    position: relative;
    background-color: #e1e1e1;

    height: auto;

    &__cover {
      @include absolute;

      height: 100%;
      z-index: 0;

      &-shadow {
        @include absolute;
        background-color: rgba(0,0,0, .5);
      }

      &-image {

      }
    }

    &__content{
      z-index: 2;
      color: #fff;

      padding-top: 5em;
      padding-bottom: 5em;

      & .container {
        max-width: $event-finished-content-max-width;
      }
    }

    &__title {
      font-size: 36px;
      line-height: 1.2em;
      text-align: center;
      padding-top:1em;
      padding-bottom: 1em;
    }

    &__meta{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &__description {
      max-width: 100%;
      word-break: break-all;
      text-align: center;
      color: rgba(255,255,255,.5);
      padding-top:1em;
      padding-bottom: 1em;
    }

  }

  &-content{

    &__members {
      padding-top: 2em;
      padding-bottom: 2em;
    }

    &__member{
      &-image{
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid $primary-color;
      }

      &-content {
        &-name {
          padding-top: 1em;
          padding-bottom: 1em;
          text-align: center;
          font-size: 24px;
        }
      }

    }

    &__projects {
      display: flex;
      flex-direction: column;
      row-gap: 1em;
    }

    &__project {
      display: flex;
      column-gap: 1em;
      align-items: flex-start;

      &-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        min-width: 200px;
        min-height: 200px;
      }

      &-name {
        font-size: 20px;
        padding-bottom: 1em;
      }

      &-description {
        color: #626262;
        padding-bottom: 1em;
      }
    }

    &__section{

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 1em;
      padding-bottom: 3em;

      &-title{
        text-align: center;
        font-size: 36px;

        padding-top: 1.5em;
        padding-bottom: 3em;

      }
      &-content{
        max-width: $event-finished-content-max-width;
        margin: 0 auto;
      }
    }
  }
}
