@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/mixins';

.event {
  @include flex-column;
  overflow-x: hidden;

  font-size: 16px;

  &-content{

    &__members {
      padding-top: 2em;
      padding-bottom: 2em;
    }

    &__member{
      &-image{
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid $primary-color;
      }

      &-content {
        &-name {
          padding-top: 1em;
          padding-bottom: 1em;
          text-align: center;
          font-size: 24px;
        }
      }

    }

    &__projects {
      @include flex-column;
      row-gap: 1em;
    }

    &__project {
      display: flex;
      column-gap: 1em;
      align-items: center;

      &-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        min-width: 200px;
        min-height: 200px;
      }

      &-name {
        font-size: 20px;
        padding-bottom: 1em;
      }

      &-description {
        color: #626262;
        padding-bottom: 1em;
      }
    }

    &__section{

      @include flex-column;
      justify-content: center;
      padding-top: 1em;
      padding-bottom: 3em;

      &-title{
        text-align: center;
        font-size: 36px;

        padding-top: 1.5em;
        padding-bottom: 3em;

      }
      &-content{
        max-width: $event-finished-content-max-width;
        margin: 0 auto;
      }
    }
  }
}
