<layout-default title="Новое событие">

  <form [formGroup]="form" class="eventsNewForm">

    <div class="eventsNewForm__container">

      <div class="eventsNewForm__fields">
        <mat-form-field appearance="fill">
          <mat-label>Наименование события</mat-label>
          <input matInput autocomplete="off"
                 id="name"
                 formControlName="name"
                 required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Дата и время начала</mat-label>
          <input matInput
                 type="datetime-local"
                 autocomplete="off"
                 id="start"
                 formControlName="start"
                 required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Продолжительность формированя команд в минутах</mat-label>
          <input matInput
                 type="number"
                 min="1"
                 id="memberRegistrationMinutes"
                 formControlName="memberRegistrationMinutes"
                 required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Продолжительность этапа разработки в минутах</mat-label>
          <input matInput
                 min="1"
                 type="number"
                 id="developmentMinutes"
                 formControlName="developmentMinutes"
                 required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Продолжительность выступления каждой команды в минутах</mat-label>
          <input matInput
                 type="number"
                 min="1"
                 id="teamPresentationMinutes"
                 formControlName="teamPresentationMinutes"
                 required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Минимальное количество участников</mat-label>
          <input matInput
                 type="number"
                 min="1"
                 id="minTeamMembers"
                 formControlName="minTeamMembers"
                 required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Максимальное количество участников</mat-label>
          <input matInput
                 autocomplete="off"
                 type="number"
                 min="2"
                 id="maxEventMembers"
                 formControlName="maxEventMembers"
                 required>
        </mat-form-field>

        <mat-checkbox id="isCreateTeamsAutomatically"
                      formControlName="isCreateTeamsAutomatically"
                      value="false"
                      required>
          Создавать команды автоматически
        </mat-checkbox>
      </div>

      <div class="eventsNewForm__status">

        <table mat-table [dataSource]="eventStatusDataSource" class="status-table">
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Статус</th>
            <td mat-cell *matCellDef="let element">{{getEventStatus(element.status)}}</td>
          </ng-container>

          <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef>Сообщение</th>
            <td mat-cell *matCellDef="let element">{{element.message}}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="table-list-actions-column">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="removeStatus(element)" (click)="isCanAddStatus()">
                  <mat-icon color="accent">delete_outline</mat-icon>
                  <span>Удалить</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div *ngIf="eventStatusDataSource.data.length === 0" class="not-elements-found-message">
          Нет элементов для отображения
        </div>
        <button [disabled]="isCanAddStatus()"
                mat-button
                (click)="addStatus()"
                class="button-status">Добавить новый статус</button>

      </div>

    </div>

    <div class="form-vertical__bottom">
      <div class="eventsNewForm__buttons">
        <button mat-raised-button color="primary" (click)="submit()">Сохранить</button>
        <button mat-button (click)="goBack()">Назад</button>
      </div>
    </div>

  </form>

  <div class="loader" *ngIf="isLoading">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
</layout-default>
