<header>
  @if (true) {
    @for (item of items; track item) {
      @if (item.children.length === 0) {
        <button mat-menu-item routerLink="{{ item.routeLink }}">
          {{ item.text }}
        </button>
      } @else {
        <button mat-menu-item [matMenuTriggerFor]="childrenMenu">
          {{ item.text }}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #childrenMenu="matMenu">
          @for (child of item.children; track child) {
            <button
              mat-menu-item
              routerLink="{{ child.routeLink }}"
              >
              {{ child.text }}
            </button>
          }
        </mat-menu>
      }
    }
  }
</header>
