<layout-default title="Профиль" xmlns="http://www.w3.org/1999/html">

  <div class="profile">

    <div class="profile__left">
      <div class="profile-image">

        <div *ngIf="!image" [innerText]="userNameSymbols" class="username-symbols"></div>
        <img *ngIf="image" [src]="image" alt="">

        <input type="file" #selectedFile (change)="selectFile($event)" class="fileSelector">
        <button class="profile-image__button" (click)="selectedFile.click()">
          <mat-icon>photo_camera</mat-icon>
        </button>

      </div>
    </div>

    <div class="profile__right">
      <list-details [items]="userProfileDetails"></list-details>
    </div>

  </div>

</layout-default>
