<layout-default title="Профиль" [isLoading]="isLoading">

  <div class="profile">

    <div class="profile__left">
      <profile-image [userId]="userId" [canUpload]="canUploadImage"></profile-image>
    </div>

    <div class="profile__right">
      <list-details [items]="userProfileDetails"></list-details>

      <div class="reaction__list" *ngIf="this.userId != this.authUserId">

        <div class="reaction reaction-{{ UserProfileReaction[reaction].toLowerCase() }}"
             (click)="toggleReaction($event, reaction)"
             [class.active]="isReactionActive(reaction)"
             *ngFor="let reaction of getAvailableUserProfileReactions()">

          <div [ngSwitch]="reaction">
            <mat-icon class="reaction-icon" *ngSwitchCase="UserProfileReaction.Like">thumb_up</mat-icon>
            <mat-icon class="reaction-icon" *ngSwitchCase="UserProfileReaction.Heart">favorite</mat-icon>
            <mat-icon class="reaction-icon" *ngSwitchCase="UserProfileReaction.Fire">local_fire_department</mat-icon>
          </div>

        </div>
      </div>

      <friendship-offer-button *ngIf="userId != authUserId" [friendId]="userId"></friendship-offer-button>

      <mat-tab-group *ngIf="this.userId == this.authUserId" [selectedIndex]="0" animationDuration="0">
        <mat-tab label="Друзья">
          <ng-template matTabContent>
            <friends-list [userId]="authUserId" [status]="FriendshipStatus.Confirmed"></friends-list>
          </ng-template>
        </mat-tab>
        <mat-tab label="Заявки в друзья">
          <ng-template matTabContent>
            <friends-list [userId]="authUserId" [status]="FriendshipStatus.Pending"></friends-list>
          </ng-template>
        </mat-tab>
      </mat-tab-group>

    </div>

  </div>

</layout-default>
