.profile {
  display: flex;
  gap: 2em;

  &__right {
    flex: 1;
  }
}

.reaction__list
{
  display: flex;
  padding-top: 1em;
  border-top: 1px solid #f5f5f5;

  .reaction
  {
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;

    color: #b8b8b8;

    &.reaction-like {
      &:hover { color: #2886c9; }
      &.active { color: #2886c9; }
    }

    &.reaction-heart {
      &:hover { color: #da2121; }
      &.active { color: #da2121; }
    }

    &.reaction-fire {
      &:hover { color: #f1522c; }
      &.active { color: #f1522c; }
    }
  }
}

table {
  tr {
    cursor: default;
  }
  tr > td {
    padding-bottom: 10px;
  }

  tr > td:first-child{
    color: #9FA2B4;
    width: 1px;
    white-space: nowrap;
    padding-right: 2em;
  }
}

td.email {
  vertical-align: top;
}

.email-confirmation
{
  &-status {
    color: rgb(210, 78, 78);
  }

  &-link{
    font-weight: 500;
    text-decoration: underline;

    &:hover{
      cursor: pointer;
      text-decoration: none;
    }
  }

  &-description{
    color: #9FA2B4;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
