<layout-default
  [title]="editMode ? 'Событие' : 'Новое событие'"
>

  <div actions>
    <event-button-actions
    [event]="event"
    [submit]="submit">
    </event-button-actions>
  </div>

  <form [formGroup]="form" class="eventsNewForm">

    <mat-tab-group animationDuration="0" dynamicHeight>

      <mat-tab label="Общая информация">
        <div class=" event-form__tab-common padding-top-1em">
          <div class="eventsNewForm__vertical-fields">
            <mat-form-field appearance="outline">
              <mat-label>Наименование события</mat-label>
              <input matInput autocomplete="off"
                     id="name"
                     formControlName="name"
                     required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Описание</mat-label>

              <textarea matInput
                        id="description"
                        formControlName="description"
                        autocomplete="off"
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="5"
                        cdkAutosizeMaxRows="5"
                        required></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Дата и время начала</mat-label>
              <input matInput
                     type="datetime-local"
                     autocomplete="off"
                     id="start"
                     formControlName="start"
                     required
                     min="{{minDate}}">

            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Награда / Призовой фонд</mat-label>
              <input matInput autocomplete="off"
                     id="award"
                     formControlName="award"
                     required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Правила проведения мероприятия</mat-label>

              <textarea matInput
                        id="agreementRules"
                        formControlName="agreementRules"
                        autocomplete="off"
                        cdkTextareaAutosize
                        cdkAutosizeMaxRows="10"
                        cdkAutosizeMinRows="10"
              ></textarea>
            </mat-form-field>

            <mat-checkbox id="agreementRequiresConfirmation"
                          formControlName="agreementRequiresConfirmation"
                          value="false">
              Требуется подтверждение ознакомления с правилами
            </mat-checkbox>

          </div>
          <div class="image-upload">

            <div class="event-image">

              <div class="event-image__image">
                <img *ngIf="eventImage; else noImage" [src]="eventImage" alt="event image">
                <ng-template #noImage>
                  <mat-icon style="color: #e5e5e5">image_outline</mat-icon>
                </ng-template>
              </div>

              <div class="event-image__selector">
                <input type="file" #selectedFile (change)="selectEventImage($event)">
                <button mat-flat-button (click)="selectedFile.click()">
                  <mat-icon color="primary">photo_camera</mat-icon>
                  выбрать изображение
                </button>
                <button mat-flat-button (click)="clearEventImage()">
                  <mat-icon color="accent">delete</mat-icon>
                  удалить изображение
                </button>
              </div>

            </div>

          </div>
        </div>
      </mat-tab>

      <mat-tab label="Этапы">

        <div style="padding: 1em">
          <button mat-button
                  (click)="showEventStageCreateView()"
                  [disabled]="!isCanAddEventStage()">Добавить новый этап</button>
        </div>

        <table #eventStagesTable
               mat-table [dataSource]="eventStagesDataSource" [class.empty]="eventStagesDataSource.data.length == 0"
               cdkDropList
               [cdkDropListData]="eventStagesDataSource"
               (cdkDropListDropped)="dropEventStageRow($event)">

          <ng-container matColumnDef="preRow">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let eventStage">
              <mat-icon>drag_handle</mat-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Наименование</th>
            <td mat-cell *matCellDef="let eventStage">{{eventStage.name}}</td>
          </ng-container>

          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef>Продолжительность (мин)</th>
            <td mat-cell *matCellDef="let eventStage">{{eventStage.duration}}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let eventStage" class="table-list-actions-column">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="updateEventStage(eventStage)">
                  <mat-icon color="primary">edit</mat-icon>
                  <span>Редактировать</span>
                </button>
                <button mat-menu-item (click)="removeEventStage(eventStage)">
                  <mat-icon color="accent">delete_outline</mat-icon>
                  <span>Удалить</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['preRow', 'name', 'duration', 'actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['preRow', 'name', 'duration', 'actions'];"
              cdkDrag
              cdkDragLockAxis="y"
              [cdkDragData]="row"
          ></tr>
        </table>

      </mat-tab>

      <mat-tab label="Команды">
        <div class="eventsNewForm__vertical-fields padding-top-1em">
        <mat-form-field appearance="outline">
          <mat-label>Минимальное количество участников в команде</mat-label>
          <input matInput
                 type="number"
                 min="1"
                 id="minTeamMembers"
                 formControlName="minTeamMembers"
                 required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Максимальное количество участников</mat-label>
          <input matInput
                 autocomplete="off"
                 type="number"
                 min="2"
                 id="maxEventMembers"
                 formControlName="maxEventMembers"
                 required>
        </mat-form-field>

        <mat-checkbox id="isCreateTeamsAutomatically"
                      formControlName="isCreateTeamsAutomatically"
                      value="false"
                      required>
          Создавать команды автоматически
        </mat-checkbox>
        </div>
      </mat-tab>

      <mat-tab label="Задачи">

        <div class="padding-top-1em">
          <alert>Список задач будет отображен участникам сразу после начала мероприятия</alert>
        </div>
        <div class="flex-row flex-align-items-center">
          <div style="width: 100%;">
            <mat-form-field appearance="outline" class="padding-bottom-0" style="width: 100%;">
              <mat-label>Новая задача</mat-label>
              <input matInput
                     autocomplete="off"
                     #newTaskInput
                     (keydown.control.enter)="addEventTaskFromInput()"
              >
              <mat-hint>Для добавления нажмите Ctrl + Enter</mat-hint>
            </mat-form-field>
          </div>

        </div>

        <table #eventTasksTable
               mat-table [dataSource]="eventTasksDataSource"
               [class.empty]="eventTasksDataSource.data.length == 0"
               cdkDropList
               [cdkDropListData]="eventTasksDataSource"
               (cdkDropListDropped)="dropEventTaskRow($event)">

          <ng-container matColumnDef="preRow">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let eventTask">
              <mat-icon>drag_handle</mat-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Задача</th>
            <td mat-cell *matCellDef="let eventTask">{{ eventTask.title }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let eventTask" class="table-list-actions-column">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="removeEventTask(eventTask)">
                  <mat-icon color="accent">delete_outline</mat-icon>
                  <span>Удалить</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['preRow', 'title', 'actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['preRow', 'title', 'actions'];"
              cdkDrag
              cdkDragLockAxis="y"
              [cdkDragData]="row"
          ></tr>
        </table>

      </mat-tab>

      <mat-tab label="Уведомления">

        <div class="eventsNewForm__vertical-fields">

          <table mat-table [dataSource]="eventStatusDataSource"
                 [class.empty]="eventStatusDataSource.data.length == 0">

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Статус</th>
              <td mat-cell *matCellDef="let element">{{EventStatusTranslator.Translate(element.status)}}</td>
            </ng-container>

            <ng-container matColumnDef="message">
              <th mat-header-cell *matHeaderCellDef>Сообщение</th>
              <td mat-cell *matCellDef="let element">{{element.message}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" class="table-list-actions-column">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="editStatus(element)">
                    <mat-icon color="primary">edit</mat-icon>
                    <span>Редактировать</span>
                  </button>
                  <button mat-menu-item (click)="removeStatus(element)">
                    <mat-icon color="accent">delete_outline</mat-icon>
                    <span>Удалить</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

          <button [disabled]="isCanAddStatus()"
                  mat-button
                  (click)="addStatus()">Добавить новый статус</button>

        </div>

      </mat-tab>

    </mat-tab-group>

  </form>

  <div class="loader" *ngIf="isLoading">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
</layout-default>
