<button mat-icon-button [matMenuTriggerFor]="notificationBellMenu" (menuOpened)="menuOpened()">
  <mat-icon
    matBadge="{{ this.unreadNotificationsCount }}"
    matBadgeColor="warn"
    matBadgeHidden="{{ this.unreadNotificationsCount == 0 }}"
  >
    notifications_none
  </mat-icon>
</button>

<mat-menu #notificationBellMenu="matMenu" yPosition="below" class="notify__menu">
  <ng-template [ngIf]="notifications.items != undefined && notifications.items.length > 0" [ngIfElse]="notificationsEmpty">
    <notification-item *ngFor="let item of notifications?.items" [notification]="item"></notification-item>
  </ng-template>
  <button
    *ngIf="notifications.items.length > 0"
    class="mat-button mat-primary" (click)="viewAll()" style="margin-top: 1em;">
    Все уведомления
  </button>
</mat-menu>

<ng-template #notificationsEmpty>
  <mat-list role="list">
    <mat-list-item role="listitem">
      Нет уведомлений
    </mat-list-item>
    <mat-list-item>
      <button mat-button color="primary" (click)="viewAll()">Центр уведомлений</button>
    </mat-list-item>
  </mat-list>
</ng-template>
