.notify {
  &__item {
    display: flex;
    column-gap: 1em;

    &__block {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__info {
    &-message {
      font-size: 14px;
    }
  }

  &-createdAt {
    color: #bbb;
    font-size: 12px;
  }

  &__check-icon{
    color: #bbb;
  }
}

::ng-deep .mat-menu-panel.notify__menu {
  min-width: 400px;
  max-width: 400px;
}
