<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <div class="logo" [style.min-width.px]="logoMinWidth">Hackathon</div>
    <app-nav-menu></app-nav-menu>
    <span class="spacer"></span>
    <notification-bell class="bell"></notification-bell>
    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <ng-container *ngIf="userId">
        <profile-image
          [canUpload]="false"
          [userId]="UserId"
          [style.width]="'40px'"
          [style.height]="'40px'"
          [style.font-size]="'18px'"
        ></profile-image>
      </ng-container>
    </button>
    <mat-menu #profileMenu="matMenu" yPosition="below">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>account_circle</mat-icon>
        {{userName}}
      </button>
      <button mat-menu-item (click)="toggleApplicationTheme()">
        <mat-icon>{{ this.isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
        {{ this.isDarkMode ? 'Светлая тема' : 'Темная тема' }}
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Выйти
      </button>
    </mat-menu>
  </mat-toolbar-row>

  <mat-toolbar-row class="{{secondToolbarCssClasses}}" *ngIf="secondToolbar">
    <ng-container
      [ngTemplateOutlet]="secondToolbar"
    ></ng-container>
  </mat-toolbar-row>
</mat-toolbar>
