<form [formGroup]="profileForm" class="loginForm hackathon-background">
  <div class="loginForm__container theme-background">
    <div class="loginForm__title welcomeText">{{ welcomeText }}</div>
    <div class="loginForm__fields">
      <mat-form-field appearance="fill">
        <mat-label>Учетная запись</mat-label>
        <input matInput autocomplete="off"
               id="login" #login formControlName="login"
               required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Пароль</mat-label>
        <input matInput [type]="isPassFieldHide ? 'password' : 'text'"
               autocomplete="off"
               id="password" formControlName="password"
               required
               (keyup.enter)="signIn()"
        >
        <mat-icon matSuffix (click)="isPassFieldHide = !isPassFieldHide" [attr.aria-pressed]="isPassFieldHide" style="cursor: pointer;">
          {{isPassFieldHide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>
    </div>

    <div class="loginForm__reCaptcha re-captcha" *ngIf="captchaEnabled">
      <re-captcha (resolved)="getCaptchaResponse($event)" siteKey="{{siteKey}}"></re-captcha>
    </div>

    <div class="loginForm__bottom">
      <div class="loginForm__buttons">
        <button mat-raised-button color="primary" (click)="signIn()">Войти</button>
        <button mat-button (click)="signUp()">Регистрация</button>
      </div>
    </div>

    <ng-container *ngIf="googleClientEnabled">
      <div class="loginForm_or"><span>ИЛИ</span></div>

      <button class="loginForm-google__button" mat-button (click)="signInByGoogle()">
        <div class="loginForm-google__block">
          <img src="assets/img/google.svg" alt="google">
          <div class="loginForm-google__title">Войти через Google</div>
        </div>
      </button>
    </ng-container>
  </div>
</form>

<div class="loader" *ngIf="isLoading">
  <mat-progress-spinner color="primary" mode="indeterminate">
  </mat-progress-spinner>
</div>
