@import "src/mixins";

:host {
  margin: 0 auto;
}

.loginForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &__container {
    background: #fff;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 0 50px rgb(205 205 205);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__messages{
    font-size: .9em;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }

  &__message {
    &.info { color: blue; }
    &.warn { color: orange; }
    &.error { color: red; }
  }

  &__title {
    padding-bottom: 35px;
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 300px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }

  .re-captcha {
    margin-bottom: 18px;
  }

  &-google {

    &__button {

    }

    &__block {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 200px;
    }

    &__title {
      text-align: center;
      font-size: 18px;
      font-weight: lighter;
    }

    &__svg {
      margin-top: 12px
    }
  }

  &_or {
    display: inline-block;
    margin: 20px 20px 10px 20px;
    position: relative;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;

    span::after {
      content: "";
      position: absolute;
      bottom: 45%;
      left: 36px;
      width: 125px;
      height: 4%;
      background-color: rgb(0 0 0 / 10%);
      z-index: -1;
    }

    span::before {
      content: "";
      position: absolute;
      bottom: 45%;
      right: 36px;
      width: 125px;
      height: 4%;
      background-color: rgb(0 0 0 / 10%);
      z-index: -1;
    }
  }
}

.loader {
  @include absolute0;

  background: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}
