@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

:host {
  display: block;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.chat {
  display: flex;
  height: inherit;
  width: 100%;

  max-height: 100%;

  &__members {
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100%;
    width: 300px;

    .member {
      @include flex-row;
      column-gap: 1em;
      align-items: center;
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

  main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
}

.chat {
  &__body {
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100%;
  }

  &__footer {
    width: 97%;
    margin: auto;
  }

  &__send-message-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }

  &__message {
    display: flex;
    column-gap: 10px;
    margin: 10px;

    &.your {
      justify-content: right;
    }

    &-image {
      min-width: 35px;
      min-height: 35px;
      width: 35px;
      height: 35px;
      background: lightgray;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-main {
      display: flex;
      flex-direction: column;
      padding: 4px 8px;
      border-radius: 4px;
      min-width: 40%;
      max-width: 50%;
      color: $white-color !important;
      &.your {
        background: $chat-color-content !important;
      }
    }

    &-meta {
      padding-top: 3px;
      font-size: .8em;
      color: $white-color !important;
    }
  }
}

.mat-tab-body.mat-tab-body-active :host {
  /* fix team chat screen */
  @include absolute0;
}
