<layout-default [title]="getProfileTitle()" [isLoading]="isLoading$ | async">
  @if (user) {
    <div actions>
      @if (!isEditMode && isOwner) {
        <button mat-button color="primary" (click)="userEdit()">
          Редактировать
        </button>
      }
      @if (isEditMode) {
        <button mat-button (click)="userEditCancel()">Отменить</button>
      }
      @if (isEditMode) {
        <button
          mat-button
          color="primary"
          (click)="saveUserEdit()"
          [disabled]="!form.valid"
          >
          Сохранить
        </button>
      }
      @if (canChangePassword()) {
        <button mat-button color="primary" (click)="openPasswordChangeDialog()">
          Изменить пароль
        </button>
      }
    </div>
  }

  @if (user) {
    <div class="profile">
      <div class="profile__left">
        <profile-image [userId]="user.id" [canUpload]="canUploadImage"></profile-image>
      </div>
      <div class="profile__right">
        <form [formGroup]="form" class="profile__edit-form">
          <table>
            <tr>
              <td>Имя пользователя</td>
              <td [innerText]="user?.userName"></td>
            </tr>
            @if (!isEditMode) {
              <tr>
                <td>Полное имя</td>
                <td [innerText]="user?.fullName"></td>
              </tr>
              @if (canViewEmail) {
                <tr>
                  <td class="email">E-mail</td>
                  <td>
                    <div>{{ user?.email?.address }}</div>
                    @if (
                      (user?.email?.status ?? userEmailStatus.NotConfirmed) ===
                      userEmailStatus.NotConfirmed
                      ) {
                      <div
                        >
                        <alert warn
                          >Email не подтвержден. Для того, чтобы пользоваться всеми возможностями<br />
                          системы необходимо
                          <span class="email-confirmation-link" (click)="createEmailConfirmationRequest()"
                            >подтвердить</span
                            >
                            Email.</alert
                            >
                          </div>
                        }
                        @if (
                          (user?.email?.status ?? userEmailStatus.NotConfirmed) ===
                          userEmailStatus.Pending
                          ) {
                          <div
                            >
                            <alert>
                              Код подтверждения отправлен на указанный Email. <br />
                              <input #confirmationCodeInput />
                              <br />
                              <span class="email-confirmation-link" (click)="confirmEmail()"
                                >Подтвердить</span
                                >
                                <br /><br />
                                Если код не приходит, повторите попытку через 5 минут или обратитесь в службу
                                поддержки.
                              </alert>
                            </div>
                          }
                          @if (
                            (user?.email?.status ?? userEmailStatus.NotConfirmed) ===
                            userEmailStatus.Confirmed
                            ) {
                            <div
                              >
                              <alert>Email подтвержден</alert>
                            </div>
                          }
                        </td>
                      </tr>
                    }
                  }
                  @if (isEditMode) {
                    <tr>
                      <td>Полное имя</td>
                      <td>
                        <mat-form-field floatLabel="auto" appearance="outline">
                          <input
                            matInput
                            autocomplete="off"
                            id="fullName"
                            #fullName
                            formControlName="fullName"
                            required
                            />
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <td>E-mail</td>
                        <td>
                          <mat-form-field floatLabel="auto" appearance="outline">
                            <input
                              matInput
                              autocomplete="off"
                              id="email"
                              #email
                              formControlName="email"
                              required
                              />
                            </mat-form-field>
                          </td>
                        </tr>
                      }
                      <tr>
                        <td>Роль</td>
                        <td>{{ UserRoleTranslator.Translate(user.role) }}</td>
                      </tr>
                      <tr>
                        <td>Команда</td>
                        <td>{{ userTeam?.name ?? 'Не состоит в команде' }}</td>
                      </tr>
                    </table>
                  </form>
                  @if (userId !== authUserId) {
                    <div class="reaction__list">
                      @for (reaction of getAvailableUserProfileReactions(); track reaction) {
                        <div
                          class="reaction-pointer reaction-{{ userProfileReaction[reaction].toLowerCase() }}"
                          (click)="toggleReaction($event, reaction)"
                          [class.active]="isReactionActive(reaction)"
                          >
                          <div>
                            @switch (reaction) {
                              @case (userProfileReaction.Like) {
                                <div>
                                  <mat-icon class="reaction-icon">thumb_up</mat-icon>
                                  <span [innerText]="userProfileReactionsList[0]?.count"></span>
                                </div>
                              }
                              @case (userProfileReaction.Heart) {
                                <div>
                                  <mat-icon class="reaction-icon">favorite</mat-icon>
                                  <span [innerText]="userProfileReactionsList[1]?.count"></span>
                                </div>
                              }
                              @case (userProfileReaction.Fire) {
                                <div>
                                  <mat-icon class="reaction-icon">local_fire_department</mat-icon>
                                  <span [innerText]="userProfileReactionsList[2]?.count"></span>
                                </div>
                              }
                            }
                          </div>
                        </div>
                      }
                    </div>
                  }
                  @if (userId === authUserId) {
                    <div class="reaction__list">
                      @for (reaction of getAvailableUserProfileReactions(); track reaction) {
                        <div
                          class="reaction reaction-{{ userProfileReaction[reaction].toLowerCase() }}"
                          [class.active]="true"
                          >
                          <div>
                            @switch (reaction) {
                              @case (userProfileReaction.Like) {
                                <div>
                                  <mat-icon class="reaction-icon">thumb_up</mat-icon>
                                  <span [innerText]="userProfileReactionsList[0]?.count"></span>
                                </div>
                              }
                              @case (userProfileReaction.Heart) {
                                <div>
                                  <mat-icon class="reaction-icon">favorite</mat-icon>
                                  <span [innerText]="userProfileReactionsList[1]?.count"></span>
                                </div>
                              }
                              @case (userProfileReaction.Fire) {
                                <div>
                                  <mat-icon class="reaction-icon">local_fire_department</mat-icon>
                                  <span [innerText]="userProfileReactionsList[2]?.count"></span>
                                </div>
                              }
                            }
                          </div>
                        </div>
                      }
                    </div>
                  }
                  @if (userId !== authUserId) {
                    <friendship-offer-button
                      [friendId]="userId"
                    ></friendship-offer-button>
                  }
                  @if (userId === authUserId) {
                    <mat-tab-group [selectedIndex]="0" animationDuration="0">
                      <mat-tab label="Друзья">
                        <ng-template matTabContent>
                          <friends-list
                            [userId]="authUserId"
                            [status]="friendshipStatus.Confirmed"
                          ></friends-list>
                        </ng-template>
                      </mat-tab>
                      <mat-tab label="Заявки в друзья">
                        <ng-template matTabContent>
                          <friends-list [userId]="authUserId" [status]="friendshipStatus.Pending"></friends-list>
                        </ng-template>
                      </mat-tab>
                    </mat-tab-group>
                  }
                </div>
              </div>
            }
          </layout-default>
