:host {
  .friends-list {
    &__item {
      &-actions {
        padding-right: 1em;
      }

      &-user {
        cursor: pointer;

        display: flex;
        align-items: center;
        column-gap: 10px;

        &:hover {
          color: #3f51b5;
        }
      }
    }
  }

  .no-data-text {
    color: #9fa2b4;
    padding-top: 1em;
    padding-left: 16px;
  }
}
