@import "src/mixins";

:host {
  margin: 0 auto;
}

.registerForm {

  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;

  .welcomeText {
    padding-bottom: 35px;
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 300px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }
}

.loader {
  @include absolute0;

  background: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerForm {

  &__messages{
    font-size: .9em;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }

  &__message {

    &.info { color: blue; }
    &.warn { color: orange; }
    &.error { color: red; }
  }
}

.password {
  &__icon {
    cursor: pointer;
  }
}
