@import "src/mixins";

:host {
  display: block;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  height: 100%;

}

.chat {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
  box-sizing: border-box;
  height: inherit;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 1em;

  &__body {
    flex: 1;
    overflow-y: scroll;
  }

  &__footer {
    mat-form-field {
      width: 100%;
    }
  }

  &__send-message-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }

  &__message {
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;

    &.your {
      justify-content: right;
    }

    &-image {
      min-width: 35px;
      min-height: 35px;
      width: 35px;
      height: 35px;
      background: lightgray;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      profile-image {

      }

    }

    &-main {
      display: flex;
      flex-direction: column;
      padding: 4px 8px;
      border-radius: 4px;
      background: #f8f8f8;
      min-width: 40%;

      &.your {
        background: #3f51b5;
        color: #f8f8f8;
      }
    }

    &-meta {
      padding-top: 3px;
      color: #333;
      font-size: .8em;

      &.your {
        color: #fff;
      }
    }
  }
}

.mat-tab-body.mat-tab-body-active :host {
  /* fix team chat screen */
  @include absolute0;
}
