@if (notification !== undefined) {
  <div class="notification-item" [class.shortView]="shortView">
    <mat-icon class="notification-icon">
      {{ Notification.getTypeIcon(notification.type) }}
    </mat-icon>
    <div class="notification-content">
      <div class="notification-body">
        <div class="notification-title">{{ Notification.getTypeName(notification.type) }}</div>
        @switch (notification.type) {
          @case (0) {
            <notification-info-view
              [notify]="notification"
              [hideDate]="true"
            ></notification-info-view>
          }
          @case (30) {
            <notification-team-join-request-decision-view
              [notify]="notification"
              [hideDate]="true"
              >>
            </notification-team-join-request-decision-view>
          }
        }
      </div>
      <div class="notification-meta">
        <div class="notification-date">
          {{ notification.createdAt?.toLocaleString() | date : 'dd.MM.y, HH:mm' }}
        </div>
      </div>
    </div>
    @if (!hideActions) {
      <div class="notification-actions">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="remove($event, [notification.id!])">
            <mat-icon color="accent">delete_outline</mat-icon>
            <span>Удалить</span>
          </button>
        </mat-menu>
      </div>
    }
  </div>
}
