@if (value || customTemplate) {
  <div class="grid info-line">
    <div class="grid-1-2 label">
      <span>{{ label }}</span>
    </div>
    @if (!customTemplate) {
      <div
        class="grid-1-2 value info-value"
        [ngClass]="{ 'app-link': clickable }"
        >
        {{ value ?? 'Не указано' }}
      </div>
    }
    @if (customTemplate) {
      <div class="grid-1-2 value info-value">
        <ng-template [ngTemplateOutlet]="customTemplate"></ng-template>
      </div>
    }
  </div>
}
