<layout-default title="Команды">

  <div class="filter-group">
    <form [formGroup]="form" class="filter-form">
      <div class="filter-form__container">
        <button mat-raised-button color="primary" (click)="createNewItem()">Добавить новую команду</button>
        <mat-icon>search</mat-icon>

        <div class="filter-form__fields">
          <mat-form-field class="filter-form__input">
            <mat-label>Наименование команды</mat-label>
            <input matInput autocomplete="off"
                   id="teamName"
                   formControlName="teamName">
          </mat-form-field>

          <mat-form-field class="filter-form__input">
            <mat-label>Владелец</mat-label>
            <input matInput autocomplete="off"
                   id="owner"
                   formControlName="owner">
          </mat-form-field>

          <mat-form-field class="filter-form__input">
            <mat-label>Кол-во участников от:</mat-label>
            <input matInput
                   autocomplete="off"
                   type="number"
                   id="QuantityFrom"
                   formControlName="QuantityFrom">
          </mat-form-field>

          <mat-form-field class="filter-form__input">
            <mat-label>Кол-во участников до:</mat-label>
            <input matInput
                   autocomplete="off"
                   type="number"
                   id="QuantityTo"
                   formControlName="QuantityTo">
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="fetch()">Применить фильтр</button>
          <button mat-raised-button color="primary" (click)="clearFilter()">Очистить фильтр</button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="this.items.length > 0">
    <table mat-table [dataSource]="items">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element" (click)="rowClick(element)"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Название</th>
        <td mat-cell *matCellDef="let element" (click)="rowClick(element)"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef>Владелец</th>
        <td mat-cell *matCellDef="let element" (click)="rowClick(element)">
          {{ element.owner?.fullName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="users">
        <th mat-header-cell *matHeaderCellDef>Кол-во участников</th>
        <td mat-cell *matCellDef="let element" (click)="rowClick(element)">
          {{ element.users.length }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Редактировать</span>
            </button>
            <button mat-menu-item>
              <mat-icon color="accent">delete_outline</mat-icon>
              <span>Удалить</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getDisplayColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayColumns();"></tr>
    </table>

    <mat-paginator [length]="pageSettings.length"
                   [pageSize]="pageSettings.pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="setPageSettings($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>

  <div *ngIf="items.length == 0">
    Нет элементов для отображения
  </div>

</layout-default>
