@import "src/mixins";

.mat-column-status {
  mat-icon {
    font-size: 10px;
    height: 10px;
    width: 10px;
    margin-right: 5px;

    color: lightgray;

    &.mat-icon {

      &-published {
        color: #eb832b;
      }

      &-started {
        color: seagreen;
      }
    }
  }
}

.mat-cell {
  &.mat-column-actions {
    width: 40px;
  }
}

.filter-form {
  display: flex;
  column-gap: 10px;

  &__fields{
    @include flex-row;
    flex-wrap: wrap;
  }

  button {
    margin-left: 10px;
    margin-right: 10px;
  }
}
