<toolbar
  [logoMinWidth]="logoMinWidth"
  [secondToolbar]="!hideTitleBar && !isLoading ? secondToolbar : null"
  [secondToolbarCssClasses]="layoutCssClasses"
  >
</toolbar>

<ng-template #secondToolbar>
  @if (!hideTitleBar && !isLoading) {
    <div class="layout-default__page-bar">
      <div>
        @if (title) {
          <div class="layout-default__title">{{ title }}</div>
        }
        @if (subTitle) {
          <div class="layout-default__subTitle">{{ subTitle }}</div>
        }
        <ng-content select="[alert]"></ng-content>
      </div>
      <div class="layout-default__actions">
        <ng-content select="[actions]"></ng-content>
      </div>
    </div>
  }
</ng-template>

@if (!(isLoading && hideContentWhileLoading)) {
  <div class="{{ containerCssClasses }}">
    <ng-content></ng-content>
  </div>
}

@if (showLoadingIndicator && isLoading) {
  <div class="layout-default__loader loader-theme">
    <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
  </div>
}
