:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  & > *:last-child{
    flex: 1;
  }
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  cursor: default;
  padding-right: 1em;
}

.layout-default {

  &__page-bar {
    width: 100%;
    padding: 0 1em 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }

  &__title{
    font-weight: normal;
    font-size: 22px;
  }

  &__actions {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__loader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
}
