<mat-toolbar class="layout-default__toolbar">

  <div class="logo">Hackathon</div>
  <app-nav-menu></app-nav-menu>
  <span class="spacer"></span>
  <notification-bell></notification-bell>
  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu" yPosition="below">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>account_circle</mat-icon>
      {{ UserName }}
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      Выйти
    </button>
  </mat-menu>

</mat-toolbar>

<div class="layout-default__page-bar">
  <div class="layout-default__title">{{ title }}</div>
  <div class="layout-default__actions"><ng-content select="[actions]"></ng-content></div>
</div>

<div class="container container-full">
  <ng-content></ng-content>
</div>

<div class="layout-default__loader" *ngIf="isLoading">
  <mat-progress-spinner color="primary" mode="indeterminate">
  </mat-progress-spinner>
</div>
