<toolbar [logoMinWidth]="logoMinWidth" [toolbarMenuItems]="toolbarMenuItems"></toolbar>

<div class="layout-default__page-bar" *ngIf="!hideTitlebar && !isLoading">
  <div class="layout-default__title">{{ title }}</div>
  <div class="layout-default__actions">
    <ng-content select="[actions]"></ng-content>
  </div>
</div>

<div class="{{ containerClasses }}" *ngIf="!(isLoading && hideContentWhileLoading)">
  <ng-content></ng-content>
</div>

<div class="layout-default__loader" *ngIf="showLoadingIndicator && isLoading">
  <mat-progress-spinner color="primary" mode="indeterminate">
  </mat-progress-spinner>
</div>
