<mat-toolbar class="layout-default__toolbar">
<!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
  <span>Hackathon</span>
  <span *ngIf="title" class="layout-default__title">: {{ title }}</span>
  <span class="spacer"></span>
  <app-nav-menu></app-nav-menu>
  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu" yPosition="below">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>account_circle</mat-icon>
      Открыть
    </button>
    <button mat-menu-item routerLink="/logout">
      <mat-icon>logout</mat-icon>
      Выйти
    </button>
  </mat-menu>

</mat-toolbar>

<div class="container container-full">
  <ng-content></ng-content>
</div>

<div class="layout-default__loader" *ngIf="isLoading">
  <mat-progress-spinner color="primary" mode="indeterminate">
  </mat-progress-spinner>
</div>
