.spacer {
  flex: 1 1 auto;
}

.layout-default {
  &__title{
    font-weight: normal;
  }

  &__toolbar {
    margin-bottom: 1em;
  }

  &__loader {
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
