$event-status-icon-size: 10px;
@import '/src/assets/styles/variables';

.status {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  mat-icon {
    font-size: $event-status-icon-size;
    height: $event-status-icon-size;
    width: $event-status-icon-size;
    margin-right: 5px;
    color: lightgray;
  }
  .mat-icon {
    &-requested {
      color: #eb832b;
    }
    &-approved {
      color: seagreen;
    }
    &-rejected {
      color: $error-color;
    }
  }
}
