<layout-default
  [hideTitleBar]="true"
  [logoMinWidth]="(sideBarWidthPx - 16).toString()"
  [containerCssClasses]="'relative'"
>

  <div class="event-started-wrapper">
    <aside class="event-started-sidebar dark-theme-background" [style.width.px]="sideBarWidthPx">

      <button mat-button (click)="selectedPageIndex = Pages.EventTasks" *ngIf="Event.hasTasks(event)">
        <mat-icon>task</mat-icon>
        Задачи
      </button>
      <button mat-button (click)="selectedPageIndex = Pages.Communication">
        <mat-icon>group</mat-icon>
        Общение
      </button>
      <button mat-button (click)="selectedPageIndex = Pages.Project">
        <mat-icon>inventory_2</mat-icon>
        Проект
      </button>

    </aside>

    <main class="event-started__content">

      <mat-tab-group [selectedIndex]="selectedPageIndex"
                     class="without-header team-chat-theme"
                     animationDuration="0ms"
                     >

        <mat-tab [hidden]="!Event.hasTasks(event)">

          <div class="padding-1em">
            <h2>Задачи мероприятия</h2>
            <ol>
              <li *ngFor="let eventTask of event.tasks">
                {{ eventTask.title }}
              </li>
            </ol>
          </div>

        </mat-tab>

        <mat-tab>
          <div class="event-started__chat">
            <div class="event-started__content-top">
              <div class="event-started__chat-selector">
                <mat-select [(value)]="selectedChatIndex">
                  <mat-option [value]="0">Общий чат</mat-option>
                  <mat-option [value]="1">Чат команды</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="event-started__chat-wrapper">
              <chat-team [chatId]="currentChatId" [showMembers]="true"></chat-team>
            </div>
          </div>

        </mat-tab>

        <mat-tab>

          <div class="padding-1em">

            <h2>Проект</h2>

            <div *ngIf="project; else hasNoProject">

              <div *ngIf="project.name">
                Наименование: {{ project.name }}
              </div>

              <div *ngIf="project.description">
                Описание: {{ project.description }}
              </div>

              <div *ngIf="project.linkToGitBranch">
                Git-репозиторий: {{ project.linkToGitBranch }}
              </div>

              <div *ngIf="project.files != null && project.files.length > 0; else noFiles;">
                <ul>
                  <li *ngFor="let file of project.files">
                    {{ file.fileName }}
                  </li>
                </ul>
              </div>

              <ng-template #noFiles>
                <br/>
                <button mat-button color="primary" (click)="showProjectDialog()">Обновить информацию о проекте</button>
                <br/>
                <button mat-button color="primary" (click)="showUpdateProjectFromBitBranchDialog()">Обновить файлы проекта из Git-репозитория</button>
                <br/>
                <button mat-button color="primary" (click)="removeProject()">Удалить проект</button>
              </ng-template>

            </div>

            <ng-template #hasNoProject>
              <button mat-button class="newProjectButton" (click)="showProjectDialog()">
                <mat-icon color="primary">add</mat-icon>
                Добавить проект
              </button>
            </ng-template>
          </div>

        </mat-tab>

      </mat-tab-group>

    </main>
  </div>

</layout-default>
